



header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;

}

.start-button {
    margin: 200px auto;
    width: 200px;
}

#quiz-box {
    width: 60%;
    margin: 13% auto;
}

.current-question {
    text-align: center;
    font-size: 30px;
}

.answer {
    margin: 20px 0;

}
.answer button {
    width: 100%;
    font-size: 20px;
}